<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>clamav.clamd</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ brew_prefix }}/sbin/clamd</string>
		<string>--foreground</string>
		<string>-c</string>
		<string>{{ clamav_clamd_config_file }}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ clamav_clamd_stderr_log_file }}</string>
</dict>
</plist>