<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>clamav.clamwatch</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ brew_prefix }}/bin/clamwatch</string>
		<string>{{ clamav_clamwatch_target_folder }}</string>
		<string>{{ clamav_clamwatch_quarantine_folder }}</string>
		<string>{{ clamav_clamwatch_log_file }}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ clamav_clamwatch_stderr_log_file }}</string>
</dict>
</plist>