#!/bin/bash

COLIMA_PROFILE="{{ colima_service_default_profile }}"
STARTUP_DELAY="{{ colima_service_startup_delay }}"

export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"

function colima_launch() {
  echo "Starting Colima ..."
  colima start --foreground -p "${COLIMA_PROFILE}"
}

main() {
  echo "Waiting ${STARTUP_DELAY} second(s) ..."
  sleep "${STARTUP_DELAY}"

  colima_launch
}

main "$@"
